root = true

[**]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[{*.bash,*.sh,bashrc,bash_profile,profile}]
max_line_length = 80

[*.csv]
insert_final_newline = false

[*.ftl]
max_line_length = 80

[*.js]
max_line_length = 80

[*.java]
max_line_length = 100

[Makefile]
indent_style = tab

[*.md]
trim_trailing_whitespace = false

[*.py]
max_line_length = 80

[*.ts]
max_line_length = 80

[*.gitmodules]
insert_final_newline = false
